.navbar {
  display: flex;
  background-color: #333;
  padding: 0 20px;
  align-items: center;
  border-radius: 25px;
}

.navbar a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

.navbar a:hover {
  background-color: #575757;
}

.navbar .logo {
  font-weight: bold;
  font-size: 1.2em;
  margin-right: auto;
}
