<mat-card>
  <h2>Bejelentkezés</h2>
  <form #loginForm="ngForm">

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Felhasználó név</mat-label>
      <input matInput name="username" required />
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Jelszó</mat-label>
      <input matInput name="password"  type="password" required />
    </mat-form-field>

    <div style="margin-top: 20px;">
      <button mat-raised-button color="accent" type="submit" >Bejelentkezés</button>
    </div>
  </form>
</mat-card>
